# Virtual Environment
ai_portfolio/

# Python cache
*.pyc

# Data (we don't want to upload heavy video files)
data/

ai_portfolio/
data/
__pycache__/
*.mp4

# Ignore the analysis log
analysis_log.csv

.venv/
.ipynb_checkpoints/